<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="Member">
    <insert id="save" parameterType="member" useGeneratedKeys="true" keyProperty="id">
        insert into member_table(account, password, nickname, name, email)
            values (#{account}, #{password}, #{nickname}, #{name}, #{email})
    </insert>

    <insert id="saveFile" parameterType="memberProfile">
        insert into member_profile_table(originalFileName, storedFileName, memberId)
            values (#{originalFileName}, #{storedFileName}, #{memberId})
    </insert>

    <select id="isAccountInUse" parameterType="member" resultType="String">
        select account from member_table where account = #{account}
    </select>

    <select id="isNicknameInUse" parameterType="member" resultType="String">
        select nickname from member_table where nickname = #{nickname}
    </select>

    <select id="isEmailInUse" parameterType="member" resultType="String">
        select email from member_table where email = #{email}
    </select>

    <select id="login" parameterType="member" resultType="member">
        select * from member_table where account = #{account} and password = #{password}
    </select>

    <select id="findById" parameterType="Long" resultType="member">
        select * from member_table where id = #{id}
    </select>

    <select id="findFile" parameterType="Long" resultType="memberProfile">
        select * from member_profile_table where memberId = #{id}
    </select>
    
    <delete id="delete" parameterType="Long">
        delete from member_table where id = #{id}
    </delete>

    <delete id="deleteProfile" parameterType="Long">
        delete from member_profile_table where memberId = #{id}
    </delete>
    
    <update id="update" parameterType="member" useGeneratedKeys="true" keyProperty="id">
        update member_table set nickname = #{nickname}, name = #{name} where id = #{id}
    </update>


    
</mapper>














